# Ignorar a pasta target e todos os arquivos nela
target/

# Incluir arquivos .jar gerados dentro da pasta target
!target/*.jar

# Incluir arquivos específicos do Maven Wrapper (caso necessário)
!.mvn/wrapper/maven-wrapper.jar

# Ignorar arquivos de build dentro de src/main e src/test (evitar versões de arquivos temporários)
!**/src/main/**/build/
!**/src/test/**/build/

# Ignorar arquivos de configuração da IDE
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
